body{
  background-color: gainsboro;
}
.picture-gallery {
  align-self: center;
  width: 100%;
  height: 100%;
}
h1,h2 {
  text-align: center;
}

.overlay h2,p {
  color: #000;
  padding-left: 1rem;
  text-align: justify;
}

.pictures {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  align-items: flex-start;
}

.picture {
  align-self: center;
  padding: 5px;
  margin: 5px;
}

div .base {
  position: relative;      
  width:100%;
  height: 100%;
}

.base div{
  position: relative;
  display: inline;
}

.base .overlay {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  display: none;
  color: rgba(255, 255, 255, 0);
  align-content:flex-start;
  visibility: hidden;
}

.base.first .overlay {
  animation-duration: 2s;
  animation-name: slidein;
  animation-timing-function:ease;
  animation-fill-mode: forwards;
  display: block;
  align-content: center;
  background: linear-gradient(to top left,rgba(252, 251, 251, 0.2) 50%,rgba(252, 252, 252, 0.25) 50%,rgb(252, 250, 250,.5) 50%);  
}

.base.other .overlay {
  animation-name:slidedown;
  animation-duration: 2s;
  animation-delay: 5s;
  animation-timing-function:ease;
  animation-fill-mode: forwards;
  display: block;
  align-content: center;
  background: linear-gradient(to top left,rgba(252, 251, 251, 0.2) 50%,rgba(252, 252, 252, 0.25) 50%,rgb(252, 250, 250,.5) 50%);
}

@keyframes slidein {
  from {
    margin-left: 0%;
    width: 0%;
    visibility: visible;
  }
  to {
    margin-left: 0%;
    width: 100%;
    visibility: visible;
  }
}

@keyframes slidedown {
  from {
    margin-top: 0%;
    height: 0%;
    visibility: visible;
  }
  to {
    margin-top: 0%;
    height: 100%;
    visibility: visible;
  }
}

@keyframes show {
  to {
    visibility: visible;
  }
}